/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
}

.masthead {
	text-align: center;
	padding: 1em;
	background-color: #BEA8A8;
	font-weight: bold;
}
#intro-text {
	text-align: center;
	color: white;
	background-color: #9C1414;
	padding: 1.5em;
	
}
#counter {
	text-align: center;
	padding: 0.5em;
}
.input-area {
	text-align: center;
	padding: 1em;
}
/* #enter-button {
	text-align: ;
} */
.hidden {
	visibility: hidden;
	margin: 0;
	padding: 0;
}

.burp-container {
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#burp-button {
	padding: .5em 1em;
	scale: 10%;
	border: 10px solid #E95D0F;
	border-radius: 50%;
	box-shadow: 0 7px #999;
}

#burp-button:hover {background-color: #3e8e41}

#burp-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#speaker-img {
	display: flex;
	max-width: 100px;
	padding: 1em;
}

.hide {
	visibility: hidden;
}

.closing {
	padding: 1em;
	text-align: center;
}

#new-entry {
	padding-top: 2em;
	font-size: 80%;
	text-align: center;
}
#new-button {
	font-size: 80%;
}